
<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="common/header :: common-header"></head>

<body>
	<h5 class="center-block">Welcome to Admin Portal for N's
		Bookstore.</h5>
	<hr />
	<div class="container">
		<div class="login-form">
			<form th:action="@{/login}" method="post">
				<h2 class="text-center">Log in</h2>
				<div class="bg-danger" th:if="${param.error}">Invalid username
					or password.</div>
				<div class="bg-danger" th:if="${param.logout}">You've logged
					out successfully.</div>
				<div class="form-group">
					<input type="text" class="form-control" placeholder="Username"
						required="required" name="username" id="username">
				</div>
				<div class="form-group">
					<input type="password" class="form-control" placeholder="Password"
						required="required" name="password" id="password">
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary btn-block">Log
						in</button>
				</div>
			</form>
		</div>
	</div>

	<div th:replace="common/header :: body-bottom-scripts"></div>
</body>
</html>
